@import "tailwindcss";

:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  background: #000;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ui-sans-serif, system-ui, "Segoe UI", Roboto, sans-serif;
  color: #fff;
}

#root {
  width: 100%;
}
